# Compiled class file
*.class

# Log file
*.log

# ignore maven2 build directories
target/

# ignore Eclipse project data
.project
.classpath
.metadata/
.settings/

# ignore NetBeans project data
*/nbproject/*
nbactions.xml
nbactions*.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Ignore all temporary editor files
.*.swp


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
