
# ignore maven2 build directories
target/

# ignore mkdocs generated docs
site/

# IntelliJ
*.iml
base/

# ignore Eclipse project data
.project
.classpath
.metadata/
.settings/

# ignore NetBeans project data
*/nbproject/*
nbactions.xml
nbactions*.xml
nb-configuration.xml

# Ignore IntelliJ
*.iml
base/

# Class Files #
*.class

# Package Files #
*.jar

# Ignore all temporary editor files
.*.swp

# Ignore files created at runtime
runtime/log/
runtime/felix-cache/
runtime/metrics/
